/WebApplication1/nbproject/private/
/WebApplication1/build/
/OeuvresJDBC/dist/
OeuvresJDBC/build/web/META-INF/context.xml

OeuvresJDBC/build/web/META-INF/context.xml

*.class

OeuvresJDBC/build/web/WEB-INF/classes/.netbeans_update_resources

*.class

*.class

OeuvresJDBC/build/web/WEB-INF/classes/.netbeans_automatic_build

OeuvresJDBC/build/web/WEB-INF/classes/controleurs/slOeuvres.class

OeuvresJDBC/build/web/WEB-INF/classes/controleurs/slOeuvres.class

OeuvresJDBC/build/web/WEB-INF/classes/controleurs/slReservation.class

OeuvresJDBC/build/web/WEB-INF/classes/modeles/Adherent.class

OeuvresJDBC/nbproject/build-impl.xml

OeuvresJDBC/nbproject/build-impl.xml~

OeuvresJDBC/nbproject/genfiles.properties

OeuvresJDBC/nbproject/project.properties

OeuvresJDBC/nbproject/project.xml

OeuvresJDBC/web/META-INF/context.xml

OeuvresJDBC/nbproject/project.xml

OeuvresJDBC/nbproject/project.properties

OeuvresJDBC/nbproject/private/private.properties

*.class

*.properties

*.properties

*.xml
